button,
a
  text-decoration: none
  color: $color-link

  &:hover,
  &:focus
    text-decoration: underline

button
  background-color: transparent
  color: $color-link

.btn
  display: inline-block
  padding: 15px 40px
  border-radius: 5px
  font-size: 1.6rem
  border: 1px solid transparent
  transition: all 0.2s ease-in

  &:hover,
  &:focus
    text-decoration: none

  &--block
    display: block
    width: 100%